@model ProductListViewModel

@{ 
    Layout = "_Layout";
}


<partial name="_header">

    @*@section Categories
        { @await Component.InvokeAsync("Categories") }
    *@

    <div class="row">
        <div class="col-md-3" >
            @await Component.InvokeAsync("Categories")
            <partial name="_search">
        </div>

        <div class="col-md-9">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                <div class="col-md-4">
                    @await Html.PartialAsync("_product",product)
                </div>
                }
            </div>
        </div>
    </div>

    @* --eski--
        @if (Model.Products.Count == 0)
        {
            @await Html.PartialAsync("_noproduct")
        }

        else
        {
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-3">
                        @await Html.PartialAsync("_product", product)
                    </div>
                }
            </div>
        } //--eski-- *@





    @* section scripts *@

