<div class="navbar bg-danger navbar-dark navbar-expand-sm">
    <div class="container">

        <a href="/" class="navbar-brand">Shopapp</a>  @*href=>uygulama ana syf*@

    <ul class="navbar-nav" mr-auto>
        <li class="nav-item">
            <!--<a asp-controller="shop" asp-action="list" class="nav-link">Products</a>--> @*-> kullanıcı syflarını shopController üzerinden yürütmek istiyorum.*@
            <a href="/products" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Card</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Orders</a>
        </li>
        <li class="nav-item">
            <a asp-controller="admin" asp-action="createproduct"  class="nav-link">Add Product</a>
        </li>
        <li class="nav-item">
            @* <a asp-controller="admin" asp-action="productlist"  class="nav-link">Admin Products</a>*@
            <a href="/admin/products" class="nav-link">Admin Products</a>
        </li>
    </ul>





    </div>
</div>